{% load static %}
<!-- Header -->

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a href="{% url 'home' %}">Capricon</a></div>
                    <nav class="main_nav">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            {% for cat in category_main %}
                            <li><a href="{% url 'category_detail' pk=cat.id %}">{{ cat.title }}</a>
                            </li>
                            {% endfor %}
                            <!-- <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Lifestyle</a></li> -->
                            <!-- <li><a href="#">Contact Me</a></li> -->
                        </ul>
                    </nav>
                    <div class="search_container ml-auto">
                        <div class="weather">
                            <div class="temperature">+10°</div>
                            <img class="weather_icon" src="{% static 'images/cloud.png' %}" alt="">
                        </div>
                        <form action="{% url 'search' %}">
                            <input type="search" name="q" class="header_search_input" required="required"
                                placeholder="Type to Search...">
                            <img class="header_search_icon btn" type="submit" src="{% static 'images/search.png' %}"
                                alt="">
                        </form>

                    </div>
                    <nav class="main_nav">
                        <ul>
                            {% if request.user.is_staff %}
                            <li><a href="{% url 'post-create' %}">create</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account_logout' %}">logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="hamburger ml-auto menu_mm">
                        <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="logo menu_mm"><a href="#">Capricon</a></div>
    <div class="search">
        <form action="#">
            <input type="search" class="header_search_input menu_mm" required="required"
                placeholder="Type to Search...">
            <img class="header_search_icon menu_mm" src="{% static 'images/search_2.png' %}" alt="">
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="{% url 'home' %}">home</a></li>
            {% for cat in category_main %}
            <li><a href="{% url 'category_detail' pk=cat.id %}">{{ cat.title }}</a>
            </li>
            {% endfor %}
            <!-- <li class="menu_mm"><a href="#">Fashion</a></li>
            <li class="menu_mm"><a href="#">Gadgets</a></li>
            <li class="menu_mm"><a href="#">Lifestyle</a></li>
            <li class="menu_mm"><a href="#">Video</a></li> -->
            <li class="menu_mm"><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>