{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1 class="text-center">Password Reset</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<h5>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
</h5>

<form class="login100-form validate-form" method="POST" action="{% url 'account_reset_password' %}">
    <div class="login100-form-avatar">
        <img src="{% static 'images/capricon.jpg' %}" alt="AVATAR">
    </div>

    <span class="login100-form-title p-t-20 p-b-45">
        Capricon
    </span>

    <div class="wrap-input100 validate-input m-b-10">
        {% csrf_token %}
        <input class="input100" type="email" name="email" placeholder="E-mail address" required id="id_email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-user"></i>
        </span>
    </div>

    <div class="container-login100-form-btn p-t-10">
        <button class="login100-form-btn" type="submit">
            Reset My Password
        </button>
    </div>
</form>
<h6>Please contact us if you have any trouble resetting your password.</h6>
{% endblock %}