{% extends 'nice/base.html' %}
{% load static %}
{% block content %}
<!-- Home -->

<div class="home">

    <!-- Home Slider -->

    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slider Item -->
            <div class="owl-item">
                {% for test in post_list_main %}
                <div class="home_slider_background" style="background-image:url({{test.thumbnail.url}}); opacity: 0.5;">
                </div>
                {% endfor %}
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {% for post in post_list_main %}
                                <div class="home_slider_content">
                                    {% for cat in post.categories.all %}
                                    <div class="home_slider_item_category trans_200"><a
                                            href="{% url 'category_detail' pk=cat.id %}" class="trans_200">

                                            {{ cat }}

                                        </a></div>
                                    {% endfor %}
                                    <div class="home_slider_item_title">
                                        <a href="{% url 'buzz' pk=post.id%}">{{post.title}}</a>
                                    </div>
                                    <div class="home_slider_item_link">
                                        <a href="{% url 'buzz' pk=post.id%}" class="trans_200">Continue Reading
                                            <svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19px"
                                                height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13"
                                                xml:space="preserve">
                                                <polygon fill="#FFFFFF"
                                                    points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 " />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Similar Posts -->
                <div class="similar_posts_container">
                    <div class="container">
                        <div class="row d-flex flex-row align-items-end">

                            <!-- Similar Post -->
                            {% for post in post_list %}
                            <div class="col-lg-3 col-md-6 similar_post_col">
                                <div class="similar_post trans_200">
                                    <a href="{% url 'buzz' pk=post.id%}">{{post.title|slice:":50"|safe}}...</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>


                </div>
            </div>

        </div>



    </div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Don't Miss -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Don't Miss</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li class="active"><a href="#">all</a>
                                    </li>
                                    {% for cat in category_main %}
                                    <li><a href="{% url 'category_detail' pk=cat.id %}">{{ cat.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>more
                                        <ul>
                                            {% for cat in category_count %}
                                            <li><a href="#">{{ cat.categories__title }}</a><span>
                                                    ({{ cat.categories__title__count }})</span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">

                                <!-- Largest Card With Image -->
                                {% for post in post_list_largest %}
                                <div class="card card_largest_with_image grid-item">
                                    <img class="card-img-top" src="{{post.thumbnail.url}}" alt="">
                                    <div class="card-body">
                                        <div class="card-title"><a href="{% url 'buzz' pk=post.id%}">{{post.title}}</a>
                                        </div>
                                        <p class="card-text">{{post.content|slice:"300"|safe}}</p>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- Small Card Without Image -->
                                {% for post in post_list_dont_miss %}
                                {% if forloop.first or forloop.last %}
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:":200"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{ post.author }}</a><span>{{ post.created_on}}</span><span><i
                                                    class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% else %}
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="{{post.thumbnail.url}}" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:"200"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Blog Section - What's Trending -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">What's Trending</div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">

                                <!-- Large Card With Background -->
                                {% for post in post_list_trending %}
                                {% if forloop.last %}
                                <div class="card card_large_with_background grid-item">
                                    <div class="card_background" style="background-image:url({{post.thumbnail.url}})">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:"50"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% else %}
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="{{post.thumbnail.url}}" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:"200"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>

                        </div>
                    </div>

                    <!-- Blog Section - Latest -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Latest Articles</div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">

                                <!-- Small Card With Image -->
                                {% for post in post_list_latest %}
                                {% if forloop.first or forloop.last %}
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url({{post.thumbnail.url}})">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:"50"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>

                                {% else %}

                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="{{post.thumbnail.url}}" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a
                                                href="{% url 'buzz' pk=post.id%}">{{post.title|slice:"200"|safe}}</a>
                                        </div>
                                        <small class="post_meta"><a
                                                href="{% url 'profile' pk=post.author.id%}">{{post.author}}</a><span>{{post.created_on|timesince}}
                                                ago</span><span><i class="fa fa-eye" aria-hidden="true"></i>
                                                {{post.view_count}}</span><span><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i> {{post.comment_count}}</span></small>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px"
                                            height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12"
                                            xml:space="preserve">
                                            <polyline fill="#bebebe"
                                                points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
                                        </svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px"
                                            height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12"
                                            xml:space="preserve">
                                            <polyline fill="#bebebe"
                                                points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        {% for post in post_list_topstories %}
                                        <div class="side_post">
                                            <a href="{% url 'buzz' pk=post.id%}">
                                                <div
                                                    class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="{{post.thumbnail.url}}" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">{{post.title|slice:"50"}}</div>
                                                        <small class="post_meta">{{post.author}}<span>{{post.created_on|timesince}}
                                                                ago</span><span><i class="fa fa-eye"
                                                                    aria-hidden="true"></i>
                                                                {{post.view_count}}</span><span><i
                                                                    class="fa fa-comment-o" aria-hidden="true"></i>
                                                                {{post.comment_count}}</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}