{% extends 'nice/base.html' %}
{% load static %}
{% block content %}
<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{object.thumbnail.url}}"
		data-speed="0.8"></div>
	<div class="home_content">
		<div class="post_category trans_200">
			{% for cat in object.categories.all %}
			<a href="#" class="trans_200">{{ cat }}</a></div>
		{% endfor %}
		<div class="post_title">{{object.title}}</div>
	</div>
</div>

<!-- Page Content -->

<div class="page_content">
	<div class="container">
		<div class="row row-lg-eq-height">

			<!-- Post Content -->

			<div class="col-lg-9">
				<div class="post_content">

					<!-- Top Panel -->
					<div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
						<div class="author_image">
							<div><img src="{{ object.author.profile_picture.url }}" alt=""></div>
						</div>
						<div class="post_meta"><a href="#">{{object.author}}</a><span>{{object.created_on|timesince}}
								ago</span></div>
						<div class="post_share ml-sm-auto">
							<span>share</span>
							<ul class="post_share_list">
								{% if request.user.is_staff %}
								<li class="post_share_item"><a href="{% url 'post-update' pk=post.id %}">update</a></li>
								<li class="post_share_item"><a href="{% url 'post-delete' pk=post.id %}">delete</a></li>
								{% endif %}
								<li class="post_share_item"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										{{object.view_count}}</a></li>
								<li class="post_share_item"><a href="#"><i class="fa fa-comment-o"
											aria-hidden="true"></i> {{object.comment_count}}</a></li>
								<li class="post_share_item"><a href="#"><i class="fa fa-facebook"
											aria-hidden="true"></i></a></li>
								<li class="post_share_item"><a href="#"><i class="fa fa-twitter"
											aria-hidden="true"></i></a></li>
								<li class="post_share_item"><a href="#"><i class="fa fa-google"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>

					<!-- Post Body -->

					<div class="post_body">
						<p class="post_p">{{object.content|safe}}</p>
						<!-- Post Tags -->
						<div class="post_tags">
							<ul>
								{% for cat in object.categories.all %}
								<li class="post_tag"><a href="#">{{cat}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<!-- Similar Posts -->
					<div class="similar_posts">

						<!-- Post Comment -->
						{% if request.user.is_authenticated %}
						<div class="post_comment">
							<div class="post_comment_title">Post Comment</div>
							<div class="row">
								<div class="col-xl-8">
									<div class="post_comment_form_container">
										<form method="POST" action=".">
											{% csrf_token %}
											{{form}}
											<button type="submit" class="comment_button">Post Comment</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<a href="{% url 'account_login' %}" class="btn btn-primary">login to comment</a>
						{% endif %}

						<!-- Comments -->
						<div class="comments">
							<div class="comments_title">Comments <span>({{object.comments.count}})</span></div>
							<div class="row">
								<div class="col-xl-8">
									<div class="comments_container">
										<ul class="comment_list">
											{% for comment in post.get_comments %}
											<li class="comment">
												<div class="comment_body">
													<div
														class="comment_panel d-flex flex-row align-items-center justify-content-start">
														<div class="comment_author_image">
															{% if comment.user.author %}
															<div><img src="{{comment.user.author.profile_picture.url}}"
																	alt=""></div>
															{% else %}
															<div><img src="{% static 'images/author.jpg' %}" alt="">
															</div>
															{% endif %}
														</div>
														<small class="post_meta"><a
																href="#">{{comment.user.username}}</a><span>{{comment.timestamp|timesince}}
																ago</span></small>
													</div>
													<div class="comment_content">
														<p>{{comment.content}}</p>
													</div>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="load_more">
					<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
				</div>
			</div>

			<!-- Sidebar -->

			<div class="col-lg-3">
				<div class="sidebar">
					<div class="sidebar_background"></div>

					<!-- Top Stories -->

					<div class="sidebar_section">
						<div class="sidebar_title_container">
							<div class="sidebar_title">Top Stories</div>
							<div class="sidebar_slider_nav">
								<div class="custom_nav_container sidebar_slider_nav_container">
									<div class="custom_prev custom_prev_top">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px"
											height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12"
											xml:space="preserve">
											<polyline fill="#bebebe"
												points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
										</svg>
									</div>
									<ul id="custom_dots" class="custom_dots custom_dots_top">
										<li class="custom_dot custom_dot_top active"><span></span></li>
										<li class="custom_dot custom_dot_top"><span></span></li>
										<li class="custom_dot custom_dot_top"><span></span></li>
									</ul>
									<div class="custom_next custom_next_top">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="7px"
											height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12"
											xml:space="preserve">
											<polyline fill="#bebebe"
												points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar_section_content">

							<!-- Top Stories Slider -->
							<div class="sidebar_slider_container">
								<div class="owl-carousel owl-theme sidebar_slider_top">

									<!-- Top Stories Slider Item -->
									<div class="owl-item">

										<!-- Sidebar Post -->
										{% for post in post_list_topstories %}
										<div class="side_post">
											<a href="{% url 'buzz' pk=post.id%}">
												<div
													class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
													<div class="side_post_image">
														<div><img src="{{post.thumbnail.url}}" alt=""></div>
													</div>
													<div class="side_post_content">
														<div class="side_post_title">{{post.title|slice:"50"}}</div>
														<small class="post_meta">{{post.author}}<span>{{post.created_on|timesince}}
																ago</span><span><i class="fa fa-eye"
																	aria-hidden="true"></i>
																{{post.view_count}}</span><span><i
																	class="fa fa-comment-o" aria-hidden="true"></i>
																{{post.comment_count}}</span></small>
													</div>
												</div>
											</a>
										</div>
										{% endfor %}

									</div>



								</div>
							</div>
						</div>
					</div>

					<!-- Advertising -->

					<div class="sidebar_section">
						<div class="advertising">
							<div class="advertising_background" style="background-image:url(images/post_17.jpg)"></div>
							<div class="advertising_content d-flex flex-column align-items-start justify-content-end">
								<div class="advertising_perc">-15%</div>
								<div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
							</div>
						</div>
					</div>



					<!-- Advertising 2 -->

					<div class="sidebar_section">
						<div class="advertising_2">
							<div class="advertising_background" style="background-image:url(images/post_18.jpg)"></div>
							<div
								class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
								<div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}